<!DOCTYPE html>
<html>
   <head>
       <title>Flash Cards</title>
       <!-- We've provided some styles for you, aren't we nice? -->
       <link rel="stylesheet" type="text/css" href="/css/reset.css" />
       <link rel="stylesheet" type="text/css" href="/css/style.css" />
       <script src="/js/lib/angular.js"></script>
       <script src="app.js"></script>
       <script src="/js/controllers/FlashCardController.js"></script>
       <script src="/js/controllers/main.controller.js"></script>
       <script src="/js/controllers/StatsController.js"></script>
       <script src="/js/factories/FlashCardsFactory.js"></script>
       <script src="/js/factories/ScoreFactory.js"></script>
   </head>
   <body>
       <div ng-app="FlashCards" ng-controller="StatsController" id="statistics">

            <div id="scoreboard">
                <h3>Correct: <span>{{ scores.correct }}</span></h3>
                <h3>Incorrect: <span>{{ scores.incorrect }}</span></h3>
            </div>

       <div ng-controller="MainController">
        <button class="category-button" ng-repeat="category in categories" ng-click="getCategoryCards(category)" ng-class="{active: currentCategory === category}">{{category}}</button>
        <button class="category-button" ng-click="getCategoryCards()">Reset Button</button>
        
           <div class="flash-card" ng-controller="FlashCardController" ng-repeat="flashCards in flashCards | orderBy:'question'">

            <h3>{{flashCards.category}}</h3>
               <h1>{{ flashCards.question |uppercase }}</h1>
               <ul class="flash-card-answers">
                   <li class="flash-card-answer" ng-repeat="answer in flashCards.answers" ng-click="answerQuestion(answer)">
                       {{answer.text}}
                   </li>
               </ul>
               <h2 class="answer-feedback" ng-show="answered" ng-class="{correct: answeredCorrectly,incorrect:!answeredCorrectly}">
                    <span ng-show="answeredCorrectly">

<img src="http://www.femoticons.net/images/posts/rainy_days_sunglasses.jpg" alt="You are cool" style="width:150px;height:100px">
                        Yeah, you got it right!</span>
                    <span ng-show="!answeredCorrectly">
                        Nope, you got it wrong.</span>
                </h2>
            </div>
           <div>
        </div>
   </body>
</html>